<?xml version="1.0"?>

<model>
  <name>cable_joint</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Zhongyuan Liu</name>
    <email>zhongyuanliu@vip.qq.com</email>
  </author>

  <description>
    A model of cable joint with force control.
	link_0 : the bottom base of the structure
	link_1 : lower bone of the joint
	link_2 : upper bone of the joint
	link_3 : the top plate of the structure
	link_4 : visualized ball joint
	link_5 : the bone above the joint
	baseball1 and baseball2 : 2 nodes at the bottom
	topball1 to topball4 : 4 nodes at the top
  </description>

</model>
